/* :root{
    --bgc-color: black 
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box {
  background-color: rgb(30, 53, 168);
  padding: 30px;
  width: 400px;
  border-radius: 8px;
}

.qr-header h1 {
  font-size: 26px;
  text-align: center;
  color: white;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.qr-header input {
  width: 100%;
  margin-block: 12px;
}

.qr-header input,
select {
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  border: 2px solid rgb(79, 77, 77);
}

.qr-header label {
  color: white;
  font-size: 20px;
}

.qr-header div {
  display: flex;
  justify-content: space-between;
}

.qr-footer {
  display: flex;
  justify-content: center;
}

.qr-footer a {
  background-color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 36px;
  margin-inline: 2px;
  color: rgb(57, 57, 57);
  font-weight: 600;
  border-radius: 8px;
}

.qr-body {
  display: grid;
  place-items: center;
  padding: 20px;
}

.qr-body img {
  max-width: 100%;
  max-height: 100%;
  margin-block: 10px;
  padding: 20px;
  border: 0.5px solid white;
  border-radius: 8px;
}
